html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.3rem;
}

.header {
  width: 100%;
  height: 5.2rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #E5EBF8;
  position: relative;
}
.header__buttons {
  margin-right: 0.5rem;
}
.header__login, .header__register {
  padding: 0.5rem 1.5rem;
  color: #4A4E53;
}
.header__register {
  border: 1px solid #4A4E53;
}
.header__logo {
  width: 4.5rem;
  height: 6rem;
  background-color: #000;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main {
  width: 100vw;
  height: calc(100vh - 5.2rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-intro {
  width: 70%;
  height: 100%;
  background-image: url("./images/lancaster-hotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-intro__box {
  width: 42rem;
  padding: 0 3.4rem;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  color: #FFF;
  background-color: #000;
}
.main-intro__head {
  width: 1rem;
  height: 4rem;
  background-color: #FFF;
  margin-bottom: 2.5rem;
}
.main-intro__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.main-intro__content {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  margin-bottom: 2.5rem;
}
.main-intro__register-btn {
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: 600;
  background-color: #FF521C;
  color: #FFF;
}
.main-login {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 0 5.5rem;
}
.main-login__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.main-login__desc {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}
.main-login__form {
  width: 100%;
  font-size: 1.4rem;
  color: #012E50;
}
.main-login__form-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.main-login__form-forgot__link:visited {
  color: #012E50;
}
.main-login__form-signup {
  margin-bottom: 2.5rem;
}
.main-login__form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-login__form-buttons button {
  width: calc((100% - 7rem) / 2);
}

.input-typing {
  position: relative;
}
.input-typing input {
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem 3.5rem;
  border: 1px solid #012E50;
  font-weight: 600;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.input-typing__icon {
  position: absolute;
  top: 1.3rem;
  left: 1.3rem;
  color: #012E50;
}

.checkbox {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}
.checkbox-item {
  display: none;
}
.checkbox-item:checked ~ i {
  display: block;
}
.checkbox::before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  background-color: #012E50;
  border: 1px solid #012E50;
  border-radius: 2px;
  margin-right: 0.5rem;
  position: relative;
  cursor: pointer;
}
.checkbox i {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 1.5rem;
  color: #FFF;
  display: none;
}

.default-link {
  color: blue;
  font-weight: 600;
}

.btn {
  font-size: 1.3rem;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  padding: 1rem 0;
  cursor: pointer;
  outline: none;
  border: 0;
}
.btn--grey {
  background-color: #8B8B8B;
}
.btn--dark {
  background-color: #4C4C4C;
}
.btn--rounded {
  border-radius: 5px;
}

@media screen and (max-width: 1023px) {
  .main-intro__box {
    width: 34rem;
    padding: 0 2.5rem;
  }
  .main-intro__title {
    font-size: 1.6rem;
  }
  .main-intro__content {
    font-size: 1.3rem;
  }

  .main-login__title {
    font-size: 2rem;
  }
  .main-login__desc {
    font-size: 1.3rem;
  }
  .main-login__form {
    font-size: 1.2rem;
  }
  .main-login__form-forgot {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-login__form-forgot .checkbox {
    margin-bottom: 1rem;
  }
  .main-login__form-signup {
    padding-right: 3rem;
  }
  .main-login__form-buttons button {
    width: calc((100% - 3rem) / 2);
  }

  .input-typing input {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 991px) {
  .header__logo {
    display: none;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .main-intro {
    width: 100%;
    height: 50%;
  }
  .main-intro__box {
    padding-top: 2rem;
  }
  .main-intro__head {
    display: none;
  }
  .main-login {
    width: 100%;
    height: 50%;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 414px) {
  .header {
    height: 3.9rem;
  }
  .header__language {
    font-size: 1rem;
  }
  .header__login, .header__register {
    padding: 0.3rem 1rem;
    color: #4A4E53;
    font-size: 1rem;
  }

  .main-intro__box {
    width: 25rem;
  }
  .main-intro__title {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .main-intro__content {
    font-size: 1rem;
  }
  .main-login {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 3rem;
  }
  .main-login__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .main-login__desc {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  .main-login__form {
    font-size: 1rem;
  }
  .main-login__form-forgot {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-login__form-forgot .checkbox {
    margin-bottom: 1rem;
  }
  .main-login__form-signup {
    padding-right: 3rem;
  }
  .main-login__form-buttons button {
    width: calc((100% - 3rem) / 2);
  }
}
@media screen and (max-width: 359px) {
  .main-intro {
    height: 300px;
  }
  .main-intro__content {
    margin-bottom: 2rem;
  }
  .main-login {
    height: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
