$dark-color: #4C4C4C;
$grey-color: #8B8B8B;
$white-color: #FFF;
$form-primary-color: #012E50;
$orange-color: #FF521C;
$header-color: #E5EBF8;
$header-height: 5.2rem;

html {
    font-size: 62.5%; 
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.3rem;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

.header {
    width: 100%;
    height: $header-height;
    padding: 0 1.5rem;
    @include flex(center, space-between);
    background-color: $header-color;
    position: relative;
    &__buttons {
        margin-right: 0.5rem;
    }
    &__login,
    &__register {
        padding: 0.5rem 1.5rem;
        color: #4A4E53;
    }
    &__register {
        border: 1px solid #4A4E53;
    }
    &__logo {
        width: 4.5rem;
        height: 6rem;
        background-color: #000;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.main {
    width: 100vw;
    height: calc(100vh - $header-height);
    @include flex(center, flex-start, nowrap, row);
    &-intro {
        width: 70%;
        height: 100%;
        background-image: url("./images/lancaster-hotel.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        @include flex(center, center);
        &__box {
            width: 42rem;
            padding: 0 3.4rem;
            font-family: 'JetBrains Mono', monospace;
            @include flex(center, center, nowrap, column);
            text-transform: uppercase;
            text-align: center;
            line-height: 1.5;
            color: $white-color;
            background-color: #000;
        }
        &__head {
            width: 1rem;
            height: 4rem;
            background-color: $white-color;
            margin-bottom: 2.5rem;
        }
        &__title {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 2.5rem;
        }
        &__content {
            font-size: 1.5rem;
            padding: 0 0.5rem;
            margin-bottom: 2.5rem;
        }
        &__register-btn {
            font-size: 1.1rem;
            padding: 1rem;
            font-weight: 600;
            background-color: $orange-color;
            color: $white-color;
        }
    }
    &-login {
        width: 30%;
        height: 100%;
        @include flex(flex-start, center, nowrap, column);
        padding: 0 5.5rem;
        &__title {
            font-size: 2.4rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }
        &__desc {
            font-size: 1.4rem;
            margin-bottom: 3rem;
        }
        &__form {
            width: 100%;
            font-size: 1.4rem;
            color: $form-primary-color;
            &-email {
                
            }
            &-password {
                
            }
            &-forgot {
                @include flex(center, space-between);
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                &__link {
                    &:visited {
                        color: $form-primary-color;
                    }
                }
            }
            &-signup {
                margin-bottom: 2.5rem;
            }
            &-buttons {
                @include flex(center, space-between);
                button {
                    width: calc((100% - 7rem)/2);
                }
            }
        }
    }
}

.input-typing {
    position: relative;
    input {
        font-size: 1.5rem;
        width: 100%;
        padding: 1rem 3.5rem;
        border: 1px solid $form-primary-color;
        font-weight: 600;
        border-radius: 3px;
        margin-bottom: 1rem;
    }
    &__icon {
        position: absolute;
        top: 1.3rem;
        left: 1.3rem;
        color: $form-primary-color;
    }
}

.checkbox{
    @include flex(stretch, center);
    position: relative;
    cursor: pointer;
    &-item {
        display: none;
        &:checked~i{
            display: block;
        }
    }
    &::before {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        display: block;
        background-color: $form-primary-color;
        border: 1px solid $form-primary-color;
        border-radius: 2px;
        margin-right: 0.5rem;
        position: relative;
        cursor: pointer;
    }
    i {
        position: absolute;
        top: 1px;
        left: 1px;
        font-size: 1.5rem;
        color: $white-color;
        display: none;
    }
}

.default-link {
    color: blue;
    font-weight: 600;
}

.btn {
    font-size: 1.3rem;
    font-weight: 600;
    color: $white-color;
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    outline: none;
    border: 0;
    &--grey {
        background-color: $grey-color;
    }
    &--dark {
        background-color: $dark-color;
    }
    &--rounded {
        border-radius: 5px;
    }
}

@media screen and (max-width: 1023px) {
    .main-intro {
        &__box {
            width: 34rem;
            padding: 0 2.5rem;
        }
        &__title {
            font-size: 1.6rem;
        }
        &__content {
            font-size: 1.3rem;
        }
    }
    .main-login {
        &__title {
            font-size: 2rem;
        }
        &__desc {
            font-size: 1.3rem;
        }
        &__form {
            font-size: 1.2rem;
            &-forgot {
                flex-direction: column;
                align-items: flex-start;
                .checkbox {
                    margin-bottom: 1rem;
                }
            }
            &-signup {
                padding-right: 3rem;
            }
            &-buttons {
                button {
                    width: calc((100% - 3rem)/2);
                }
            }
        }
    }
    .input-typing {
        input {
            font-size: 1.2rem;
        }
    }
    .btn {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 991px) {
    .header {
        &__logo {
            display: none;
        }
    }
    .main {
        @include flex(center, flex-start, nowrap, column);
        &-intro {
            width: 100%;
            height: 50%;
            &__box {
                padding-top: 2rem;
            }
            &__head {
                display: none;
            }
        }
        &-login {
            width: 100%;
            height: 50%;
            justify-content: flex-start;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 414px) {
    .header {
        height: calc($header-height*3/4) ;
        &__language {
            font-size: 1rem;
        }
        &__login,
        &__register {
            padding: 0.3rem 1rem;
            color: #4A4E53;
            font-size: 1rem;
        }
    }
    .main {
        &-intro {
            &__box {
                width: 25rem;
            }
            &__title{
                font-size: 1.3rem;
                margin-bottom: 1.5rem;
            }
            &__content {
                font-size: 1rem;
            }
        }
        &-login {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 0 3rem;
            &__title {
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
            &__desc {
                font-size: 1.1rem;
                margin-bottom: 1.5rem;
            }
            &__form {
                font-size: 1rem;
                &-forgot {
                    flex-direction: column;
                    align-items: flex-start;
                    .checkbox {
                        margin-bottom: 1rem;
                    }
                }
                &-signup {
                    padding-right: 3rem;
                }
                &-buttons {
                    button {
                        width: calc((100% - 3rem)/2);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 359px) {
    .main {
        &-intro {
            height: 300px;
            &__content {
                margin-bottom: 2rem;
            }
        }
        &-login {
            height: 400px;
        }
    }
}